<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <ul class="p-3 m-3">
        <h3>Success</h3>
        <li class=" m-3 "><h5> Full Name: {{user.full_name}} </h5></li>
        <li class=" m-3 "><h5> email: {{user.email}} </h5></li>
        
        
        
    </ul>

    

</body>

</html>