<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Ninja Gold</title>
</head>
<body>
    <div class="p-4">
        <h4>Your Gold: </h4>
        <div>
            <p>{{session['gold']}} </p>
            </div>
    </div>
    <div class="d-flex p-4 m-5">
        <div class="card  col-3">
            <form action="/process_money" method="post">
                <h3>Farm</h3>
                <input type="hidden" name="location" value="farm">
                <p>(earns 10-20 golds)</p>
                <input class="btn btn-primary"type="submit" value="Find Gold!">
            </form>
        </div>
        <div class="card col-3">
            <form action="/process_money" method="post">
                <h3>Cave</h3>
                <input type="hidden" name="location" value="cave">
                <p>(earns 5-10 golds)</p>
                <input class="btn btn-primary" type="submit" value="Find Gold!">
            </form>
        </div>
        <div class="card col-3">
            <form action="/process_money" method="post">
                <h3>House</h3>
                <input type="hidden" name="location" value="house">
                <p>(earns 2-5 golds)</p>
                <input class="btn btn-primary" type="submit" value="Find Gold!">
            </form>
        </div>
        <div class="card col-3">
            <form action="/process_money" method="post">
                <h3>Casino</h3>
                <input type="hidden" name="location" value="casino">
                <p>(earns/takes 0-50 golds)</p>
                <input class="btn btn-primary" type="submit" value="Find Gold!">
            </form>
        </div>
    </div>
    <div class="p-4">
        <h4>Activities:</h4>
        <p>{{session['log']|safe}} </p>
    </div>

    
</body>
</html>