<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}} ">
    <title>Document</title>
    <style>
.color0 {
    background-color: {{color0}};
}
h1{
    color: {{color0}};

}
.color1{
    background-color: {{color1}};
}

    </style>
</head>
<div class="color1" id="header">
    <h1 class="color2">*** Checkerboard ***</h1>
</div>
<div class="container">
    <table>
        {% for i in range(num1) %}
        <tr>
            {% for j in range(num2) %}
            <td class="color{{(i+j)%2}}"></td>
            
            {% endfor %}

        </tr>
        {% endfor %}

    </table>
</div>
<body>
    
</body>
</html>